.profile__avatar-btn {
    position: relative;
    border-radius: 50%;
    overflow: hidden;  
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.296);
}

.profile__avatar-circle {
    width: 60px;
    height: 60px; 
    background-color: white;
}

.profile__avatar__plane {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 250;
    width: 100%;
    height: 100%;
    transition: all .15s ease-out;
}

.profile__avatar__plane:hover {
    background-color: rgba(0, 0, 0, 0.218);
}

.profile__avatar__plane:active {
    background-color: rgba(0, 0, 0, 0.421);
}