.location-card {
    position: absolute;
    bottom: 0;
    margin: 20px;
    z-index: 120;
    background-color: white;
    width: 340px;
    border-radius: 10px;
    padding: 13px;
}

.location-card div,
.location-card p {
    cursor: default;
}

.location-card__main > p,
.location-card__main > div {
    margin: 8px 0;
}

.location-card__main .subtitle {
    margin-bottom: 5px;
}

.location-card__film {
    color: #4E4E4E;
    font-size: 15px;
    border-bottom: 1px solid #4E4E4E;
}

.location-card__address {
    font-size: 13px;
}

.location-films-timing span{
    margin-right: 5px;
}

.location-films-timing__text {
    font-weight: 700;
    color: #3C4FFC;
    font-size: 13px;
    cursor: text;
}

.location-card-btn-container {
    justify-content: space-between;
}


@media (max-width: 380px) {
    .location-card {
        width: 80%;
        left: 10%;
        margin: 0 0 20px 0;
    }
    .location-card__film { font-size: 13px; }
    .location-card-btn-container {
        flex-wrap: wrap;
        gap: 10px;
    }
}
