.location-card {
    position: absolute;
    bottom: 0;
    margin: 20px;
    z-index: 100;
    background-color: white;
    width: 340px;
    border-radius: 10px;
    padding: 13px;
}

.location-card div,
.location-card p {
    cursor: default;
}

.location-card__main > p,
.location-card__main > div {
    margin: 8px 0;
}

.location-card__main .subtitle {
    margin-bottom: 5px;
}

.location-card__film {
    color: #4E4E4E;
    font-size: 15px;
    border-bottom: 1px solid #4E4E4E;
}

.location-card__address {
    font-size: 13px;
}

.location-route__text {
    width: 100%;
    min-height: 70px;
    background-color: rgba(221, 235, 255, 1);
    border-radius: 7px;
    padding: 6px;
    font-size: 12px;
}

.location-creator__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-bottom: 1px solid rgb(143, 143, 143);
}

.location-creator__profile:hover,
.location-creator__profile p,
.location-creator__profile div {
    cursor: pointer;
} 

.location-creator__profile:hover {
    background-color: rgba(227, 227, 227, 0.586);
}

.location-creator__profile:active {
    background-color: rgba(172, 172, 172, 0.637);
}

.creator__profile-username {
    font-size: 15px;
}

.creator__profile-userimg {
    border-radius: 50%;
    border: 1px solid black;
    width: 32px;
    height: 32px;
    background-color: rgba(221, 235, 255, 1);
    overflow: hidden;
}

.location-films-timing span{
    margin-right: 5px;
}

.location-films-timing__text {
    font-weight: 700;
    color: #3C4FFC;
    font-size: 13px;
    cursor: text;
}

.location-card-btn-container {
    justify-content: space-between;
}


.location-card-btn {
    min-width: 150px;
    padding: 10px;
    border-radius: 7px;
    font-weight: 700;
    transition: all .2s ease-out;
}

.location-card-btn-edit {
    background-color: #3C89FC;
    color: white;
}

.location-card-btn-delete {
    background-color: #FC3C75;
    color: white;
}

.location-card-btn-edit:hover {
    background-color: #2b76e5;
    color: white;
}

.location-card-btn-delete:hover {
    background-color: #c92c5b;
    color: white;
}

.location-card-btn-edit:active {
    background-color: #1a59b6;
    color: white;
}

.location-card-btn-delete:active {
    background-color: #a31641;
    color: white;
}