.chat-card {
  background-color: white;
  width: 500px;
  height: 670px;
  padding: 0;
  border-radius: 10px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-card header,
.chat-card .chat-main,
.chat-card footer {
    padding: 15px;
}

.chat-card__header {
    height: 65px;
}

.chat-card__userinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.chat__profile-userimg {
    border-radius: 50%;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.chat-main {
    flex-grow: 1;
    background-color: #e4e6ec;
}

.chat-footer {
    height: 55px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.chat-input-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-input {
    padding: 5px;
    font-size: 15px;
    resize: none;
    max-height: 100%;
    width: 100%;
    overflow-wrap: break-word;
    transition: all .1s linear;
}

.chat-input::placeholder {
    color: #7DACF2;
}

.chat-input:focus {
    background-color: #ddebff93;
    border-radius: 6px;
}



.chat-main {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.chat-messege {
    max-width: 70%;
    padding: 7px 10px 0px;
    border-radius: 10px;

}

.chat-messege-text {
    font-size: 14px;
    color: #FFFFFF;
    overflow-wrap: break-word;
    line-height: 15px;
}

.chat-messege__desription {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    min-height: 20px;
}

.chat-messege__time {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.786);
}

.done-chat {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 15;
    margin: 0px -7px;
}


.read-chat {
    color: #ffffff;         
}

.unread-chat {
    color: #3a4d69;         
}

.messege-sender {
    background: #458efc;
    align-self: flex-end;
}

.messege-recipient {
    background: #757d8b;
    align-self: flex-start;
}