.messenger-container {
    position: absolute;
    z-index: 150;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.79); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.messenger-container .location-card { 
    left: initial;
    bottom: inherit;
}

.messenger-card__header {
    padding: 15px;
}

.search-adaptive {
    display: none;
    flex-grow: 2;
}

.messenger-card {
  background-color: white;
  width: 500px;
  height: 670px;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.messenger-main {
    max-height: 82%;
    overflow-y: scroll;
}

.adaptive-close { display: none; }

.messenger-chat-item {
    width: 100%;
    max-height: 65px;
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
.messenger-chat-item:hover {
    background-color: rgba(227, 227, 227, 0.586);
}
  
.messenger-chat-item:active {
    background-color: rgba(172, 172, 172, 0.637);
}

.messenger__profile-userimg {
    border-radius: 50%;
    border: 1px solid black;
    width: 55px;
    height: 55px;
    overflow: hidden;
}

.messenger-chat__info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    width: 70%;
}

.messenger-chat__login {
    font-weight: 700;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messenger-chat__text {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messenger-chat__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.messenger-chat__time {
    color: #86b6ff;
    font-size: 12px;
}

.unread {
    color: #acacac;
}

.read {
    color: #00c8ff;
}

.done-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 350,
  'GRAD' 0,
  'opsz' 25;
  margin: 0px -7px;
}


.user-search {
    position: relative;
    height: 35px;
    margin: 0 20px 10px;
}

.subsearch-input {
    width: 100%;
    height: 35px;
    background-color: #f4f3f3;
    padding-left: 10px;
    padding-right: 45px;
    border-radius: 10px;
}

.subsearch-btn {
    position: absolute;
    right: 0px;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: inherit;
    transition: all .15s ease-out;
}


@media (max-width: 575px), (max-height: 730px) {
    .messenger-card { width: 80%; }
    .messenger-card__header {
        flex-direction: column;
        gap: 5px;
    }
    .messenger-card__header > * { width: 100%; }
    .messenger-card__header .header-btn-container .header-btn:last-child {
        display: none;
    }
    .location-card-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .adaptive-close { display: block; }

    .messenger-chat__login { font-size: 14px;}
    .messenger-chat__text { font-size: 12px;}
    .messenger-chat-item { 
        grid-template-columns: 1fr 60% 1fr;
        gap: 2px;
    }
    .messenger__profile-userimg {
        min-width: 45px;
        width: 45px;
        height: 45px;
    }
    .messenger-chat__time { font-size: 11px; }
}


@media (max-height: 730px) {
    .messenger-card {
        height: 80%;
    }
    .messenger-card__header {
        padding: 10px;
        gap: 0;
    }
    .messenger-main {
        flex-grow: 2;
        padding-bottom: 5px;
    }
}

@media (max-height: 360px) {
    .user-search {
        display: none;
    }
    .search-adaptive {
        display: block;
    }
}


@media (max-width: 250px) {
    .messenger__profile-userimg {
        min-width: 35px;
        width: 35px;
        height: 35px;
    }
}