.messenger-container {
    position: absolute;
    z-index: 150;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.79); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.messenger-card__header {
    padding: 15px;
}

.messenger-card {
  background-color: white;
  width: 500px;
  height: 670px;
  padding: 0;
  border-radius: 10px;
  overflow-x: hidden;
}

.messenger-chat-item {
    width: 100%;
    max-height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
}
.messenger-chat-item:hover {
    background-color: rgba(227, 227, 227, 0.586);
}
  
.messenger-chat-item:active {
    background-color: rgba(172, 172, 172, 0.637);
}

.messenger__profile-userimg {
    border-radius: 50%;
    border: 1px solid black;
    width: 55px;
    height: 55px;
    overflow: hidden;
}

.messenger-chat__info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    width: 70%;
}

.messenger-chat__login {
    font-weight: 700;
    font-size: 18px;
}

.messenger-chat__text {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messenger-chat__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.messenger-chat__time {
    color: #86b6ff;
    font-size: 12px;
}

.unread {
    color: #acacac;
}

.read {
    color: #00c8ff;
}

.done-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 350,
  'GRAD' 0,
  'opsz' 25;
  margin: 0px -7px;
}