.drag-and-drop-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(221, 235, 255, 1);
}

.on-draging-block {
    text-align: center;
    padding: 20px;    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.547);
}

.on-draging-text {
    color: white;
    font-size: 17px;
    font-weight: 700;
}

.drag-and-drop-file {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: #0064fa;
    margin: 5px;
}

.drag-and-drop-empty-filelist {
    text-align: center;
    margin: 5px 0 7px;
    font-size: 16px;
    font-weight: 700;
    color: #6695dc;
}

.drag-and-drop__img-block {
    text-align: center;
    justify-self: flex-end;
    margin: 15px 0 0px;
}

.drag-and-drop__img-block span{
    transform: scale(1.5);
    color: #2571e1;
    animation: icon-move 1.2s infinite ease-in alternate;
}


/* анимация подпригивания иконки файла */
@keyframes icon-move {
    from {
        transform: scale(1.6) translateY(-5px);
    }
    to {
        transform:  scale(1.5) translateY(0px);
    }
}