#map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.menu {
  margin-top: 10px;
  background-color: white;
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 100;

  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.296);
}

.menu-item {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* запрет выделения */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently */
}

.menu-item:hover {
  background-color: rgba(227, 227, 227, 0.586);
}

.menu-item:active {
  background-color: rgba(172, 172, 172, 0.637);
}

.title {
  font-size: 22px;
  font-weight: 700;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
}

.container .profile-block,
.container .search-input-block,
.container .side-bar-block {
  position: absolute;
  z-index: 100;
  margin: 20px;
}

.container .profile-block {
  top: 0;
  left: 0;
}

.container .search-input-block {
  top: 0;
  right: 0;
}

.container .side-bar-block {
  right: 0;
  margin-top: 40px;
}

.shadow-block {
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.296);
}

.error p{
  color: red;
  font-size: 13px;
  padding: 2px 10px 0;
}

.error input {
  box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.344);
  border-color: red;
}

.error textarea {
  box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.344);
  border-color: red;
  background-color: rgb(255, 213, 213);
}

.error .drag-and-drop-container {
  box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.344);
  border-color: red;
  background-color: rgb(255, 213, 213);
}

.error .drag-and-drop__img-block span {
  color: red;
}


/* ------------------------------ SearchInput --------------------------------------- */

.search {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.296);
}

.search__input {
  width: 350px;
  height: 40px;
  padding: 0 50px 0 10px;
  font-size: 16px;
}

.search__btn {
  position: absolute;
  right: 0px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: inherit;
  transition: all .15s ease-out;
}

.loupe-btn:hover {
  background-color: #3C89FC;
  color: white;
}

.loupe-btn:active {
  background-color: #1658ba;
  color: white;
}

.clean-btn:hover {
  background-color: #FC3C75;
  color: white;
}

.clean-btn:active {
  background-color: #9f2549;
  color: white;
}


/* ------------------------------ SideBar --------------------------------------- */




/* ------------------------------ Profile --------------------------------------- */

.profile__avatar-btn {
  position: relative;
  border-radius: 50%;
  overflow: hidden;  
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.296);
}

.profile__avatar-circle {
  width: 60px;
  height: 60px; 
  background-color: white;
}

.profile__avatar__plane {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 250;
  width: 100%;
  height: 100%;
  transition: all .15s ease-out;
}

.profile__avatar__plane:hover {
  background-color: rgba(0, 0, 0, 0.218);
}

.profile__avatar__plane:active {
  background-color: rgba(0, 0, 0, 0.421);
}



/* ------------------------------ LocationCard --------------------------------------- */

.location-card {
  position: absolute;
  bottom: 0;
  margin: 20px;
  z-index: 100;
  /* bottom: 20px; */
  background-color: white;
  width: 340px;
  border-radius: 10px;
  padding: 13px;
}

.location-card div,
.location-card p {
  cursor: default;
}

.location-card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.location-card__btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.location-card__btn {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  transition: all .2s ease-out;
}

.location-card__btn:hover {
  color: #5c9dff;
}

.location-card__btn:active{
  background-color: rgba(201, 201, 201, 0.756);
  color: white;
}

.location-card__main,
.location-form__main {
  overflow: scroll;
  padding-right: 10px;
}
.location-card__main {
  height: 510px;
}
.location-form__main {
  height: 600px;
}


.location-card__main > p,
.location-card__main > div {
  margin: 8px 0;
}

.location-card__main .subtitle {
  margin-bottom: 5px;
}

.location-card__film {
  color: #4E4E4E;
  font-size: 15px;
  border-bottom: 1px solid #4E4E4E;
}

.location-card__address {
  font-size: 13px;
}

.location-route__text {
  width: 100%;
  min-height: 70px;
  background-color: rgba(221, 235, 255, 1);
  border-radius: 7px;
  padding: 6px;
  font-size: 12px;
}

.location-creator__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  border-bottom: 1px solid rgb(143, 143, 143);
}

.location-creator__profile:hover,
.location-creator__profile p,
.location-creator__profile div {
  cursor: pointer;
} 

.location-creator__profile:hover {
  background-color: rgba(227, 227, 227, 0.586);
}

.location-creator__profile:active {
  background-color: rgba(172, 172, 172, 0.637);
}

.creator__profile-username {
  font-size: 15px;
}

.creator__profile-userimg {
  border-radius: 50%;
  border: 1px solid black;
  width: 32px;
  height: 32px;
  background-color: rgba(221, 235, 255, 1);
  overflow: hidden;
}

.location-films-timing span{
  margin-right: 5px;
}

.location-films-timing__text {
  font-weight: 700;
  color: #3C4FFC;
  font-size: 13px;
  cursor: text;
}

.location-card-btn-container, 
.location-form-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.location-card-btn-container {
  justify-content: space-between;
}
.location-form-btn-container {
  justify-content: center;
}


.location-card-btn {
  min-width: 150px;
  padding: 10px;
  border-radius: 7px;
  font-weight: 700;
  /* transition: all .2s ; */
  transition: all .2s ease-out;
}

.location-card-btn-edit {
  background-color: #3C89FC;
  color: white;
}

.location-card-btn-delete {
  background-color: #FC3C75;
  color: white;
}

.location-card-btn-edit:hover {
  background-color: #2b76e5;
  color: white;
}

.location-card-btn-delete:hover {
  background-color: #c92c5b;
  color: white;
}

.location-card-btn-edit:active {
  background-color: #1a59b6;
  color: white;
}

.location-card-btn-delete:active {
  background-color: #a31641;
  color: white;
}


/* ------------------------------ LocationForm --------------------------------------- */

.location-form-container {
  position: absolute;
  z-index: 150;
  background-color: rgba(0, 0, 0, 0.79);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-form {
  background-color: white;
  width: 450px;
  padding: 13px;
  border-radius: 10px;
}

.field-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px auto;
  width: 95%;
}

.timing-block {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 10px 30px;
}

.field {
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  padding: 0 10px;
  font-size: 13px;
}

.field-route {
  border: 1px solid black;
  border-radius: 5px;
  height: 70px;
  padding: 10px;
  font-size: 13px;
  background-color: rgba(221, 235, 255, 1);
  resize: none;
}