body {
  overflow: hidden;
}
/* ------------------------------ menu --------------------------------------- */

.menu {
  margin-top: 10px;
  background-color: white;
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 100;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.296);
}

.menu-item {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* запрет выделения */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently */
}

.menu-item:hover {
  background-color: rgba(227, 227, 227, 0.586);
}

.menu-item:active {
  background-color: rgba(172, 172, 172, 0.637);
}


.title {
  font-size: 22px;
  font-weight: 700;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
}


/* ------------------------------ main layout --------------------------------------- */

.container .profile-block,
.container .search-input-block,
.container .side-bar-block {
  position: absolute;
  z-index: 100;
  margin: 20px;
}

.container .profile-block {
  top: 0;
  left: 0;
}

.container .search-input-block {
  top: 0;
  right: 0;
}

.container .side-bar-block {
  right: 0;
  margin-top: 40px;
}

.shadow-block {
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.296);
}


/* ------------------------------ error form --------------------------------------- */

.error p{
  color: red;
  font-size: 13px;
  padding: 2px 10px 0;
}

.error input {
  box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.344);
  border-color: red;
}

.error textarea {
  box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.344);
  border-color: red;
  background-color: rgb(255, 213, 213);
}

.error .drag-and-drop-container {
  box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.344);
  border-color: red;
  background-color: rgb(255, 213, 213);
}

.error .drag-and-drop__img-block span {
  color: red;
}


/* ------------------------------ main block card/form --------------------------------------- */

.location-card__main,
.location-form__main {
    overflow: scroll;
    padding-right: 10px;
}
.location-card__main {
    height: 510px;
}
.location-form__main {
    height: 600px;
}


/* ------------------------------ btn-container in footer --------------------------------------- */

.btn-container, 
.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-btn-container {
  justify-content: center;
}


.btn {
  min-width: 150px;
  padding: 10px;
  border-radius: 7px;
  font-weight: 700;
  transition: all .2s ease-out;
}

.btn-blue {
  background-color: #3C89FC;
  color: white;
}

.btn-red {
  background-color: #FC3C75;
  color: white;
}

.btn-blue:hover {
  background-color: #2b76e5;
  color: white;
}

.btn-red:hover {
  background-color: #c92c5b;
  color: white;
}

.btn-blue:active {
  background-color: #1a59b6;
  color: white;
}

.btn-red:active {
  background-color: #a31641;
  color: white;
}


/* ------------------------------ header in card --------------------------------------- */

.header-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.header-btn {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  transition: all .2s ease-out;
}

.header-btn:hover {
  color: #5c9dff;
}

.header-btn:active{
  background-color: rgba(201, 201, 201, 0.756);
  color: white;
}


.btn-is-favorite {
  background-color: #FC3C75;
  color: white;
}

.btn-is-favorite:hover {
  background-color: #c92c5b;
  color: white;
}

.btn-is-favorite:active{
  background-color: rgba(201, 201, 201, 0.756);
  color: white;
}

/* ------------------------------ form --------------------------------------- */

.form-conrainer {
  position: absolute;
  z-index: 150;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.79); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background-color: white;
  width: 450px;
  padding: 13px;
  border-radius: 10px;
}

.field-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px auto;
  width: 95%;
}

.field {
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  padding: 0 10px;
  font-size: 13px;
}

.field-textarea {
  border: 1px solid black;
  border-radius: 5px;
  height: 70px;
  padding: 10px;
  font-size: 13px;
  background-color: rgba(221, 235, 255, 1);
  resize: none;
}