.profile-container {
    position: absolute;
    z-index: 150;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.79); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    position: relative;
    top: 0;
    z-index: 100;
    background-color: white;
    width: 550px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.profile-card__main {
    height: 640px;
    padding-bottom: 15px;
    overflow-y: scroll;
    flex-grow: 2;
}

.profile-card__btn-header {
  justify-content: flex-end;
  padding: 13px;
}

.profile-card__header {
    margin: 0 30px;
    padding: 10px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-card__avatar {    
    border-radius: 50%;
    border: 1px solid black;
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.profile-card__login {
    color: #000000;
}


.profile-card__info {
    margin: 0 30px;
    padding: 15px;
}

.profile-card__info p {
    font-size: 17px;
    margin-bottom: 6px;
}

.profile-card__status {
    max-height: 50px;
    overflow: auto;
}


.profile-card__subtitle-block {
    margin: 5px 30px;
    padding: 0 13px;
}

.profile-card__subtitle {
    font-size: 17px;
}

.profile-card__locations {
    margin: 0 30px;
    padding: 15px;
    height: 320px;
    border-radius: 7px;
    background: rgba(221, 235, 255, 0.43);
    /* background: rgba(57, 133, 241, 0.3); */
}

.profile-card__locations-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-height: 100%;
    overflow-y: scroll;
}

.profile-card__location-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.profile-card__location-text {
    display: flex;
    flex-direction: column;
    gap: 10px;    
    max-width: 70%;
}

.profile-card__film {
    font-size: 16px;
    color: #4E4E4E;
    border-bottom: 1px solid #4E4E4E;
    max-height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profile-card__address {
    font-size: 14px;
    max-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profile-card__btn-container {
    gap: 10px;
}



@media (max-width: 575px), (max-height: 730px) {
    .profile-card {
        width: 80%;
    }

    .profile-card__header,
    .profile-card__info,
    .profile-card__subtitle-block,
    .profile-card__locations {
        margin: auto 10px;
    }

    .profile-card__avatar {    
        width: 50px;
        height: 50px;
    }

    .profile-card__info p,
    .profile-card__film,
    .profile-card__subtitle {font-size: 15px;}

    .profile-card__btn-container {
        flex-direction: column;
    }
}

@media (max-height: 730px) {
    .profile-card {
        height: 70%;
    }
    /* .profile-card__main {
        height: 85%;
    } */
    .profile-card__locations {
        min-height: 50%;
    }
}

@media (max-height: 250px) {
    .profile-card {
        height: 90%;
    }
}